

.imagen {
    padding:2rem;
  height: 10rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
 h3{
    font-weight: 600;
 }
.derecha {
    display: flex; align-items:
     center;
     justify-content: center;
}
 .imagen > img {
    width: 4rem;
    border-radius: 10%;
 }
 .description{
    display: flex;
    align-items: center;
 }
 .precio{
    display: flex;
    align-items: center;
 }
 .boton{
    display: flex;
    align-items: center;
 }
 .fila{
    height: 10rem;
 }
 @media
/* 
.tarjeta2 > p {
    position: absolute;
    top: 33vh;
    left: 23vh;
    
}
.tarjeta2 > h3 {
    position: absolute;
    top: 38vh;
    left: 23vh;
}
.tarjeta3 > p {
    position: absolute;
    top: 54vh;
    left: 23vh;
    
}
.tarjeta3 > h3 {
    position: absolute;
    top: 59vh;
    left: 23vh;
}

.tarjeta4 > p {
    position: absolute;
    top: 75vh;
    left: 23vh;
    
}
.tarjeta4 > h3 {
    position: absolute;
    top: 80vh;
    left: 23vh;
}

.boton1 {
    position: absolute;
    top: 33vh;
    left: 80vh; 
}

.boton2 {
    position: absolute;
    top: 54vh;
    left: 80vh; 
}

.boton3 {
    position: absolute;
    top: 75vh;
    left: 80vh; 
}

.boton4 {
    position: absolute;
    top: 13vh;
    left: 80vh; 
} */


