.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

th { padding-top: 2rem;
  font-size: 18px;
  color: #e73700;
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: 20px;
  
}
.card{ height: auto;
    width: auto;
    display: flex;
    justify-content: center;
    text-align: center;
}
.card > img {
    max-width: 18rem;
}
ul{
    list-style: none;
    padding-left: 0rem
    
}

tbody tr {
  border-bottom: 1px solid #000000; o;
}

tbody tr td {
  padding: 30px;
}

.card-image {
  overflow: hidden;
  width: 100px;
}
.card > a {
  
} .seguircomprando{
    padding: 2rem;
}
.comprar{
    padding: 2rem;
}
/* Cart */

@media screen and (max-width: 768px) {
  .section-banner {
    display: none;
  }
}
/* 
.tarjeta2 > p {
    position: absolute;
    top: 33vh;
    left: 23vh;
    
}
.tarjeta2 > h3 {
    position: absolute;
    top: 38vh;
    left: 23vh;
}
.tarjeta3 > p {
    position: absolute;
    top: 54vh;
    left: 23vh;
    
}
.tarjeta3 > h3 {
    position: absolute;
    top: 59vh;
    left: 23vh;
}

.tarjeta4 > p {
    position: absolute;
    top: 75vh;
    left: 23vh;
    
}
.tarjeta4 > h3 {
    position: absolute;
    top: 80vh;
    left: 23vh;
}

.boton1 {
    position: absolute;
    top: 33vh;
    left: 80vh; 
}

.boton2 {
    position: absolute;
    top: 54vh;
    left: 80vh; 
}

.boton3 {
    position: absolute;
    top: 75vh;
    left: 80vh; 
}

.boton4 {
    position: absolute;
    top: 13vh;
    left: 80vh; 
} */
